@charset "utf-8";
/* CSS Document */

body {
    background-color: #fff;
}

#maincontent {
    max-width: 100vw;
    height: 100vh;
    position: relative;
}

.spinitbutton {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.spinitbutton button {
    -webkit-appearance: none;
    box-shadow: none !important;
    outline: none;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    background: url('/static/button.jpg') no-repeat;
    background-position: 0 0;
    filter: hue-rotate(230deg);
    width: 221px;
    height: 225px;
    margin: 70px 0;
}

.spinitbutton button:active {
    background-position: 0 -241px;
}