* {
	margin: 0;
	padding: 0;
}

.x-spinner-item {
	display: inline-block;
}

.x-spinner-item .name {
	text-align: center;
	font-family: sans-serif;
	font-size: 3rem;
}

.x-spinner-item .spinner-image {
    width: 500px;
    height: 500px;
}

.x-spinner-item .spinner-container {
	position: relative;
}
.x-spinner-item .spinner-container .speed {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2rem;
}